%h1 Results for #{@survey.title}


- @survey.questions.each do |question|
  .panel.panel-primary
    .panel-heading
      .panel-title
        %p= question.body
    .panel-body
      - question.answers.each do |answer|
        - if question.free? && answer.voice?
          %audio{ :controls => 'controls' }
            <source src=answer.content type="audio/mpeg">
            Your browser does not support the audio tag.
        - else
          %p #{answer.content}
